.main-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}
.main-content div {
    width: 25%;
    height: 40vh;
}

header {
    text-align: center;
}